body{
    background-image: url('bg.png');
    margin: 0px auto;
    background-attachment: fixed;
}
.header-container{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;
}
.header{
    background-color: black;
    width:960px;
    height: 75px;
    margin: 0px auto;

 
    
   
  
}
.header img{
    width: 250px;
    display: block;
    margin: 0px auto;
    
}

 .title{
     color: aliceblue;
     font-family:'Trebuchet MS' ,Helvetica, sans-serif;
    font-size: 46;
     text-align: center;
     padding-top: 10px;
    margin: 0px auto;
    
}
nav{
    
    
    top: 75px;
    height: 55px;
    position: fixed;
   
    width: 100%;
    text-align: center;
    z-index: 999;

}
ul{
    
    width: 920px;
    background-color: black;
    height: 55px;
    margin: auto;
    border-bottom: 5px solid ff3679;
    
   
}
 nav ul li{
        color: white;
     display: inline-block;
    font-size: 20px;
    font-family: 'Trebuchet MS', sans-serif;
    margin: 19px 75px;
     
    
}

li a{
    text-decoration: none;
    color: aliceblue;
    
}
li a:hover{
    color: aliceblue;
}

.content{
    width:960px;
    height: 2000px;
    background-color: aliceblue;
    margin: 130px auto;
    
}
.article1{
    
    
    text-align: left;
    color: black;
   padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    
}

table{
    background-color: rgba(0,0,0,0.45);
    display: inline-flex;
    color: azure;
   
     
}
table a{
    text-decoration: none;
    color: azure;
    }

table a:visited{
    
    color: lightpink;
    
}
th{
     background-color:rgba(0,0,0,1) ;
    color: azure;
}
*/td:nth-child(1){
    background-color:rgba(0,0,0,1) ;
    color: azure;*/
    
}

tr:hover {background-color: rgba(229,236,246,0.25);
    

}
td:nth-child(2){
    
    width: 250px;
}

.nav-button{
   padding: 10px;
    border-bottom: 3px solid black;
    
}
.nav-button:hover{
   padding: 10px;
    border-bottom: 3px solid #ff3679;

    
}
.tab{
    padding: 10px;
    display: inline-block;
    float: right;

}
li img{
    width: 25px;
    height: 25px;
}
.button-img{
    display:inline-block;
    float: left;
}
